<!-- <div class="container">

<section [hidden]='masquerSection'>
<h1>Application Employé Du Mois</h1>
<app-bonjour></app-bonjour>
<app-bonjour-avec-prenom [prenom]="'SubZero'"></app-bonjour-avec-prenom>
<app-bonjour-les-collegues></app-bonjour-les-collegues>
</section>

<app-demo></app-demo>

</div> -->
<form #monForm="ngForm">

  Saisie <input type="text" [(ngModel)]="demo.saisie" name="saisie" required #saisie="ngModel">
  <div *ngIf="saisie.invalid">
    le champ saisie est invalide
  </div>
  Commentaire <textarea [(ngModel)]="demo.commentaire" name="commentaire" required minlength=2></textarea>

  {{demo | json}}

  <button (click)="clic()">Valider</button>

  <section *ngIf="monForm.valid">
    Le formulaire est valide !
  </section>

</form>
<app-accueil></app-accueil>
