<app-bandeau-component></app-bandeau-component>
<hr>
<div class="row">
  <div class="col-8">
    <div class="border">
      <h3 class="font-weight-light text-info">Liste des collègues</h3>
      <app-liste-collegues-component></app-liste-collegues-component>
    </div>
  </div>
  <div class="col-4">
    <div class="border">
      <div class="col bg-light text-dark">
        <h3 class="font-weight-light text-info">Historique des votes</h3>
        <app-historique-votes></app-historique-votes>
      </div>

    </div>
  </div>

</div>
